MINIO_ROOT_USER=
# Password = 8 caractères minimum
MINIO_ROOT_PASSWORD= 
MINIO_ENDPOINT=http://localhost:9000/
# TODO: autre compte pour minio


# Configuration d'
# https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html
AIRFLOW_PROJ_DIR=./airflow
_PIP_ADDITIONAL_REQUIREMENTS=pandas boto3
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=
AIRFLOW__CORE__LOAD_EXAMPLES=False